<div class="container pt-60">
  <div class="col-md-4">
    <div class="row">
      <div class="profile-picture">
        <div class="col-md-12">
          <img class="img-responsive picture" ng-src="{{user.avatar_url}}">
          <div class="username">
            <h2>{{user.name}}</h2>
            <h2 ng-if="!user.name">{{user.login}}</h2>
            <p ng-if="user.email"><i class="glyphicon glyphicon-envelope"></i> {{user.email}}</p>
            <p ng-if="user.created_at"><i class="glyphicon glyphicon-calendar"></i> Membro desde {{user.created_at|date:"dd/mm/yyyy"}}</p>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="user.bio" class="row text-center profile-bio">
      <h4>{{user.bio}}</h4>
    </div>
    <hr/>
    <div class="row">
      <div class="profile-stats">
        <div class="profile-arrange">
          <div class="col-md-3 text-center profile-arrangeSizeFit">
            <span class="profile-statLabel profile-block">Repositórios</span>
            <span class="profile-statValue">{{user.public_repos}}</span>
          </div>
          <div class="col-md-3 text-center profile-arrangeSizeFit">
            <span class="profile-statLabel profile-block">Gists</span>
            <span class="profile-statValue">{{user.public_gists}}</span>
          </div>
          <div class="col-md-3 text-center profile-arrangeSizeFit">
            <span class="profile-statLabel profile-block">Seguindo</span>
            <span class="profile-statValue">{{user.following}}</span>
          </div>
          <div class="col-md-3 text-center profile-arrangeSizeFit">
            <span class="profile-statLabel profile-block">Seguidores</span>
            <span class="profile-statValue">{{user.followers}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <ul class="nav nav-tabs">
      <li ng-init="tab=1" ng-click="tab=1" ng-class="{'active' : tab==1}"><a href="" data-toggle="tab" aria-expanded="true">Repositórios</a></li>
      <li ng-click="tab=2" ng-class="{'active' : tab==2}"><a href="" data-toggle="tab" aria-expanded="true">Gists</a></li>
      <li ng-click="tab=3" ng-class="{'active' : tab==3}"><a href="" data-toggle="tab" aria-expanded="true">Followers</a></li>
      <li ng-click="tab=4" ng-class="{'active' : tab==4}"><a href="" data-toggle="tab" aria-expanded="true">Following</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">

      <div class="tab-pane fade" ng-if="tab == 1" ng-class="{'active in' : tab==1}">
        <div class="list-group">
          <div ng-if="repoMessage" class="col-md-12">
            <h4 class="text-center">{{repoMessage}}</h4>
          </div>
          <a href="{{repo.html_url}}" target="_blank" class="list-group-item" ng-repeat="repo in repos|orderBy:'repo.updated_at'">
            <div class="row">
              <div class="col-md-10">
                <h4 class="list-group-item-heading">{{repo.name}} </h4>
                <h6 ng-if="repo.fork">Forked</h6>
                <h6>Atualizado em {{repo.updated_at|date:'dd/mm/yyyy'}}</h6>
                <p class="list-group-item-text">{{repo.description}}</p>
              </div>
              <div class="col-md-2">
                <span ng-if="repo.language" class="badge">{{repo.language}}</span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="tab-pane fade" ng-if="tab == 2" ng-class="{'active in' : tab==2}">
        <div class="list-group">
          <div ng-if="gistMessage" class="col-md-12">
            <h4 class="text-center">{{gistMessage}}</h4>
          </div>
          <a href="{{gist.html_url}}" target="_blank" class="list-group-item" ng-repeat="gist in gists|orderBy:'gist.created_at'">
            <div class="row">
              <div class="col-md-12">
                <h4 class="list-group-item-heading">{{gist.name}} </h4>
                <h6>Criado em {{gist.created_at|date:'dd/mm/yyyy'}}</h6>
                <p class="list-group-item-text">{{gist.description}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="tab-pane fade" ng-if="tab == 3" ng-class="{'active in' : tab==3}">
        <div class="list-group">
          <div ng-if="followerMessage" class="col-md-12">
            <h4 class="text-center">{{followerMessage}}</h4>
          </div>
          <div class="col-md-3" dir-paginate="follower in followers | itemsPerPage: 32 track by follower.id">
            <a href="#!/profile/{{follower.login}}">
              <div class="card">
                <img class="card-img-top" ng-src="{{follower.avatar_url}}">
                <div class="card-block">
                  <h5 class="text-bold">{{follower.login}}</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" ng-if="tab == 4" ng-class="{'active in' : tab==4}">
        <div class="list-group">
          <div ng-if="followingMessage" class="col-md-12">
            <h4 class="text-center">{{followingMessage}}</h4>
          </div>
          <div class="col-md-3" dir-paginate="following in followings | itemsPerPage: 32 track by following.id">
            <a href="#!/profile/{{following.login}}">
              <div class="card">
                <img class="card-img-top" ng-src="{{following.avatar_url}}">
                <div class="card-block">
                  <h5 class="text-bold">{{following.login}}</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
