<div class="jumbotron pt-50">
  <div class="container text-center">
    <h1>{{app}}</h1>
    <div class="form-group">
      <div class="icon-addon addon-lg mt-30">
        <input type="text" class="form-control" placeholder="Buscar por nome de usuário" ng-model="searchTerm">
        <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
      </div>
    </div>
    <hr/>

    <div class="row text-center" ng-show="loading">
      <img src="https://rawgit.com/brunofvpp/github-mini-search/master/app/img/ripple.svg" />
    </div>

    <div class="row text-center" ng-hide="result">
      <h3>{{message}}</h3>
    </div>

    <div class="row" ng-if="result">
      <div class="col-md-3" dir-paginate="user in users | itemsPerPage: 32 track by user.id">
        <a href="#!/profile/{{user.login}}">
          <div class="card">
            <img class="card-img-top" ng-src="{{user.avatar_url}}">
            <div class="card-block">
              <h5 class="text-bold">{{user.login}}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row text-center" ng-if="result">
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
</div>
